*{
    margin: 0;
    padding: 0;
}
#containerprincipal{
    max-width: 1200px;
    margin:auto;
}
#space-catalogoinicial{
    width: 98,7vw;
    height: 100vh;
    background-image: url(imagens/god-of-war-ragnarok-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#bgcatalogoinicial{
    width: 98.7vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.30);
}
header{
    width: 1200px;
    margin: auto;
}
h1{
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    font-family: share tech mono;
    color: white;
}
#lista{
    width: 318px;
    margin: auto;
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itemlista{
    margin-right: 15px;
    font-size: 15px;
    font-weight: 550;
    font-family: helvetica;
    color: white;
    cursor: pointer;
    
}
.itemlista a{
    text-decoration: none;
    color: #ffffff;
}
#descricaoecontatos{
    max-width:1250px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.titulo-anuncio{
    font-family: bakbak one;
    font-size: 48px;
    font-weight: 300;
    color: white;
}
.descricao-anuncio{
    font-family: helvetica;
    font-size: 16px;
    font-weight: 550;
    color:white;
}
#novidadegow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 850px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#lancamento{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-color: #0254aa;
    width: 95%;
    font-family: helvetica;
    font-size: 18px;
    font-weight: 600;
}
#txtnovidade{
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#txtnovidade p{
    color: #ffffff;
    font-family: helvetica;
    font-weight: 550;
}
#btncomprar{
    width: 120px;
    height: 30px;
    font-family: Bakbak one;
    color: #ffffff;
    background-color: #246cb7;
    border-style: none;
    cursor: pointer;
}
.anunciogamesplaystation{
    width: 100%;
    height: 410px;
    border-radius: 20px;
    background-image: url(imagens/GamePS.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.anunciogamesxbox{
    width: 100%;
    height: 410px;
    border-radius: 20px;
    background-image: url(imagens/GameXBOX.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.papeldeparedeescuro{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.spacetxtpsxbox{
    width: 450px;
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}
.txtdesconto{
    font-family: bakbak one;
    font-size: 36px;
    color: #ffffff;
}
.txtconfira{
    margin-top: 20px;
    font-family: helvetica;
    color: #ffffff;
    font-weight:500;
}
#simbolops{
    width: 100%;
    height: 50px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px ;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0254aa;
}
#simboloxbox{
    width: 100%;
    height: 50px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px ;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #107c0d;
}
.game{
    width: 260px;
    height: 380px;
    background-color: #f3f1f1;
    position: relative;
    transition: transform .2s;
}
.game:hover{
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform:scale(1.03);
    z-index: 9;
    box-shadow: 1px 1px 5px #434343a1;
}
.gamespsxbox{
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns:auto auto auto auto ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
}
.divisaoinformacoesgame{
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.imggame{
    width: 200px;
    height: 275px;
}
.txtinformacoesgame{
    font-family: helvetica;
}
.backgroundtxtps{
    font-size: 14px;
    width: 100px;
    text-align: center;
    color: #ffffff;
    padding: 2px;
    background-color: #0254aa;
    border-radius: 10px;
}
.backgroundtxtxbox{
    font-size: 14px;
    width: 100px;
    text-align: center;
    color: #ffffff;
    padding: 2px;
    background-color:#107c0d;
    border-radius: 10px;
}
span{
    font-size: 20px;
    font-weight: 550;
}
.img-gamebag{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
footer{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #434343;
    display: flex;
    justify-content: space-around;
}
.container-formasdepagamento-contato{
    width: 520px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formasdepagamento{
    display: flex;
    align-items: center;
}
h5{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
}
.formasdepagamento img{
    margin-right: 15px;
}
.formasdepagamento p{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
}
#formascontatos{
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contatos{
    width:45px;
    height: 45px;
    border-radius: 50%;
    background-color: #246cb7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contatos img{
    width: 25px;
}

/* Configurações de Responsividade */
@media  screen and(max-width:600px) {
    
}
@media  screen and(min-width:601px) and(max-width:768px) {
    
}
@media  screen and(max-width:769px) and(max-width:992px) {
    
}
@media  screen and(max-width:993px) and(max-width:1200px) {
    
}