*{
    margin: 0;
    padding: 0;            
}
body{
                background-color: #292928;
}
/* CONFIGURAÇÕES CABEÇALHO */

#cabecalho{
                max-width: 1300px;
                margin: auto;
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
}
#titulo-cabecalho{
                font-family: 'Righteous', cursive;
                font-weight: 500;
                color: #1d7c91;
}

.itens-navegacao-cabecalho{
                width: 30px;
                margin-left: 30px;
                border-style: solid;
                border-color: #1d7c91;
                border-width: 1px;
}
 /* CONFIGURAÇÕES SLIDE */
 #slide{
                 max-width: 1300px;
                 padding-top: 10px;
                 height: 400px;
                 margin: auto;
 }

 .imagem-slide{
                 width: 100%;
                 height: 100%;
 }
 /* CONFIGURAÇÕES CONTEÚDO PRINCIPAL */
 #conteudoprincipal{
                 max-width: 1300px;
                 margin: auto;
 }
 #artigo-conteudoprincipal{
                 width: 70%;
                 margin:auto;
                 margin-top: 20px;
 }
 #txt-artigo{

                font-family: 'Roboto', sans-serif;
                font-size: 30px; 
                color: white; 
                text-align: center;
 }
 #secoes-playstation-xbox{
     margin-bottom: 30px;
     padding-bottom: 30px;
     border-style: solid;
     border-color: white;
     border-top: none;
     border-left: none;
     border-right: none;
 }

 .titulos-secoes-games-playstation{
        background-color: #0254aa;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: white;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
 }

 .titulos-secoes-games-xbox{
    background-color: #107c0d;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.secoes-games{
    max-width: 1300px;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 300px));
    grid-gap:30px;
    justify-content: space-around;
}

 .games{
     background-color: white;
     width: 100%;
     height:390px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
     font-family: 'Roboto', sans-serif;
 }

 .foto-games{
        max-width: 200px;
        min-width: 150px;
 }

 #rodape{
     text-align: center;
     margin-bottom: 20px;
     font-family: 'Roboto', sans-serif;
     font-size: 1.5em;
     font-weight: 500;
     color: #1d7c91;
 }

 